                                            /* GENERALI */
body{
  margin: 0;
  background: white;
  font-size: 15px;
  line-height: 1.6;
  color: black;
  position: relative;
}
a {
  color:white;
  text-decoration: none;
}
a:hover{
  color: #40AD1A;
}


                                /* PUBBLICITA' */
.adslaterale{  /*stile per le pubblicità rettangolari*/
  position: fixed;
  margin-left: 940px;
  border: solid 2px green;
}
#adslaterale{  /*posizionamento per le pubblicità rettangolari*/
  top:200px;
position: fixed;
}
.adsbanner{  /*stile per le pubblicità banner*/
  border: solid 1px black;
  margin-left: 86px;
}
/* progress { /*stile per la progress bar /
    position:fixed;
    height: 5px;
    top:0;
    width: 1280px;
} */
                            /* CORPO PRINCIPALE */
#wrapper{  /*contenitore topbar compresa*/
  /* background: #ADC496; */
  /* background: green; */
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  /* border-left: solid 2px red; */
  /* border-right: solid 2px red; */
}
#wrapper2{  /*contenitore per le pagine*/
    /* background: red; */
    height: 100%;
    width: 100%;
    max-width: 900px;
    position: absolute;
    margin-left: 0px;
    z-index: -1;
    /* border: solid 1px blue; */
}
.primapagina{
  margin-top: 100px;
  height: 110%;
  width: 900px;
  /* border: solid 1px orange; */
}
.pagina{  /*misure per le immagini delle pagine*/
  height: 110%;
  width: 900px;
  /* border: solid 1px orange; */
  margin-top: 1px;
}
table.barra-nav{  /*Riga della tabella con i capitoli*/
  width: 1280px;
  background: #012060;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 18px;
}
section#top{
  margin: 0 auto;
  z-index:10;
  width:100%;
}
div.capattivo{  /*stile per capitolo in cui mi trovo*/
  background: #D8D9DB !important;
  height: 50px;
  /* border-radius: 25px; */
  /* border-bottom-left-radius: 0px; */
  /* border-bottom-right-radius: 0px; */
  /* border-top: solid 7px #012060; */
}
div.capattivo a{  /*stile scritta del capitolo in cui mi trovo*/
  color:#012060 !important;
  font-size: 22px;
  font-weight: 600;
}
.scrolling-wrapper {  /*contenitore con sottocapitoli */
  width: 1280px;
  background: #D8D9DB;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.sottocapitolo {  /*stile scritte dei sottocapitoli*/
    display: inline-block;
    font-size: 20px;
    margin-right: 2em;
    margin-left: 1em;
}
.sottocapitolo a{
  cursor:help;
}
.attivo{  /*stile che viene assegnato ai link attivi*/
color:#012060 !important;
}
        /* VISUALIZZAZIONE CELLULARE */
@media screen and (max-width:1000px){

}
